.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-family: 'PT Sans', sans-serif;
}

.app-title {
  font-size: 4em;
  font-family: 'Bubblegum Sans';
  color: #111;
}

.app-description {
  color: #222;
  padding: 2% 8%;
  text-align: center;
}

